@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
  white-space: pre-line;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.fb-review {
  width: auto;
  height: 100px;
  cursor: pointer;
  transition: .2s;
}

.fb-review:hover {
  transform: scale(1.1);
  transition: .2s;
}

.google-review {
  width: auto;
  height: 70px;
  margin-top: 6px;
  margin-right: 15px;
  cursor: pointer;
  transition: .2s;
}

.google-review:hover {
  transform: scale(1.1);
  transition: .2s;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}



/* POPUP */

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* FORM */

@keyframes slide-up2 {
	0% {
		transform: translateY(.5em);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes glow-load {
	0% {
		box-shadow: none;
	}
	100%{
		box-shadow:
			0px 0px 50px #33bbcf;
	}
}

@keyframes continuous-glow {
	0% {
	box-shadow: 0 0 5px #33bbcf, inset 0 0 5px #33bbcf, 0 2px 0 #000;
	}	
	100% {
	box-shadow: 0 0 20px #33bbcf, inset 0 0 10px #33bbcf, 0 2px 0 #000;
	}
}

@keyframes blur-load {
	0% {
		opacity: 0;
		filter:blur(0.2em);
	}
	100%{
		opacity: 1;
		filter:blur(0);
	}
}

.form-container {
  margin: auto;
  width: 90%;
}

.form-item,
.textarea-div {
	opacity: 0;
}

.form-item1 {
	animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .3s 1 slide-up2 ;
  animation-fill-mode: forwards;
}

.form-item2 {
	animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .4s 1 slide-up2 ;
  animation-fill-mode: forwards;
}

.form-item3 {
	animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .5s 1 slide-up2 ;
  animation-fill-mode: forwards;
}

.form-item4 {
	animation: .2s cubic-bezier(0.47, 0, 0.745, 0.715) .6s 1 slide-up2 ;
  animation-fill-mode: forwards;
}

form {
	background-color: rgb(12, 12, 12);
	border-radius: 1.25em;
	padding: 1.5em;
	animation: 1s cubic-bezier(0.47, 0, 0.745, 0.715) .7s 1 glow-load;
	animation-fill-mode: forwards;
}

form label {
	color: rgb(191, 191, 191);
}

option, select, input, .textarea-div textarea {
  background: #1b1a1a;
  color: rgb(255, 229, 195);
}

.form-header {
	text-align: center;
	font-size: 28px;
	padding: 0;
	margin-bottom: 1.25em;
	color: #33bbcf	;
}

label {
	display: block;
	margin-bottom: 0.35em;
	margin-top: 0.35em;
}

input:not(.btn), select {
	padding: 0.625em 1em;
	width: 100%;
	outline: 0;
	margin-bottom: 1.25em;
	border-radius: 1.25em;
	border: 0;
}

.textarea-div {
	width: 100%;
}

textarea {
	padding: 10px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 0;
	font-size: 14px;
	height: 100px;
}

.btn-container {
  margin: auto;
  padding-bottom: 1em;
}

.form-btn { 
	background: rgb(12, 12, 12) ;
	border: none ;
	margin-top: 1em ;
  font-size: 20px;
  padding: .5em;
}

.btn-glow {
	animation: .5s ease-out 0s 1 blur-load;
	border-radius: .45em ;
	color: white ;
	transition:.4s ;
  cursor: pointer;
}

.btn-glow:hover {
	box-shadow: 0px 0px 10px #33bbcf;
}

.form-btn:hover { 
	background: #33bbcf ;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus  {
	animation: continuous-glow 800ms ease-out infinite alternate;
	box-shadow: 0 0 5px #33bbcf, inset 0 0 5px #33bbcf, 0 2px 0 #000;
	color: rgb(255, 229, 195);
}

@media only screen and (min-width: 35.8em) {
	.form {
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
	
	.form-item {
		width: 45%;
	}

	.form-container {
		padding: 5em 0;
    width: 80%;
  }
}

@media only screen and (min-width: 60.625em) {
  .form-container {
		padding: 8em 0;
    width: 70%;
  }
}


.closeButton {
  color: #33bbcf;
  float: right;
  font-size: 22px;
  padding-right: 1em;
  padding-top: .5em;
  font-weight: bolder;
}

.estimate {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.estimate:hover {
  opacity: 1;
  transition: 0.4s;
}

.nav-text:hover {
  color: #33bbcf;
  transition: 0.2s;
}

.request-button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


.email {
  cursor: pointer;
  transition: 0.2s;
}

.email:hover {
  color: #33bbcf;
  transition: 0.2s;
}


.mini-footer {
  font-size: 14px;
  background-color: #010606;
}

.mini-footer a {
text-decoration: none;
color: #8f9296;
transition: all .2s ease;
}

.mini-footer a:hover {
  color: darkcyan;
  transition: all .2s ease;
}

.mini-footer span {
  color: #8f9296;
}

.fb-icon {
  transition: 0.2s;
}

.fb-icon:hover {
  transform: scale(1.2);
  transition: 0.2s;
}